<!-- HTML Partial file -->

<!--
    Section of page that displays:
     - Collapsible cards for About, Fields
     - Provides a common way of providing basic details about a page up top.

    The 'About' Section is intended to be general useful info / introductory material.
    The 'Field Descriptions' Section provides per-field information.

    Instructions for using this partial
    ===================================
    Context is expected to provide following key/values:

    about_text: populates the 'About' section.
    fields: dictionary of [field_name: field description]
-->


<!-- BEGIN Card with general info about this inquiry view -->
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="about">
            <h6 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseAbout">
                    About
                </a>
                </h5>
        </div>

        <div id="collapseAbout" class="collapse" role="tabpanel" aria-labelledby="about" data-parent="accordion">
            <div class="card-body">
                {{ about_text }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="fields">
            <h6 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFields" role="button" aria-expanded="false" aria-controls="collapseFields">
                    Field Descriptions
                </a>
                </h5>
        </div>

        <div id="collapseFields" class="collapse" role="tabpanel" aria-labelledby="fields" data-parent="accordion">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Field</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in fields %}
                        <tr>
                            <td>{{ f.1 }}</td>
                            <td>{{ f.2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END Card Information -->